.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: end;

  margin-top: 110px;
}

.contacts {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-title);
  text-decoration: none;
  transition: color linear 500ms;
  &:hover {
    color: var(--bc-btn-hover);
  }
}

.email {
  font-size: 20px;
  font-weight: 400;
  align-self: center;
  color: var(--color-title);
}

.button {
  color: var(--color-btn);
  background: var(--bc-btn);
  font-size: 16px;

  padding: 14px 10px;
  border-radius: 14px;
  border-color: transparent;
  display: inline-block;
  outline: none;
  transition: background linear 500px;

  &:hover {
    background: var(--bc-btn-hover);
  }
}

.contacts,
.email {
  padding-bottom: 18px;
}

@media screen and (max-width: 767px) {
  .flexParent {
    padding-left: 15px;
    padding-right: 15px;

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
  }
}

@media screen and (min-width: 768px) {
  .flexParent {
    display: flex;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .contacts {
    font-weight: 700;

    margin-right: 20px;
    padding: 30px 0;
    display: flex;
  }

  .email {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-title);
  }

  .button {
    color: var(--color-btn);
    background: var(--bc-btn);
    font-size: 16px;

    padding: 14px 10px;
    border-radius: 14px;
    border-color: transparent;
    display: inline-block;
    outline: none;
    transition: background linear 500px;

    &:hover {
      background: var(--bc-btn-hover);
    }
  }
}
/* @media screen and (min-width: 1280px) {

} */
