.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.contacts {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-title);
  text-decoration: none;
  transition: color linear 500ms;
  &:hover {
    color: var(--bc-btn-hover);
  }
}

.email {
  font-size: 20px;
  font-weight: 400;
  align-self: center;
  color: var(--color-title);
}

.button {
  color: var(--color-btn);
  background: var(--bc-btn);
  font-size: 16px;

  padding: 12px 8px;
  border-radius: 14px;
  border-color: transparent;
  display: inline-block;
  outline: none;
  transition: background linear 500ms;

  &:hover {
    background: var(--bc-btn-hover);
  }
}

@media screen and (max-width: 767px) {
  .flexParent {
    padding-left: 15px;
    padding-right: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .contacts {
    align-self: center;
    margin-top: 18px;
  }
  .wrapper {
    margin-top: 200px;
  }
  .contacts,
  .email {
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 768px) {
  .flexParent {
    display: flex;
    align-items: baseline;
  }
  .wrapper {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
  }

  .contacts {
    font-weight: 700;

    margin-right: 20px;
    padding: 22px 0;
    display: flex;
  }

  .button {
    padding: 14px 10px;
  }
}
