/* .iconBook {
  display: block;
  max-width: 100%;
}
.thumb {
  border-width: 0;
  border: 0.5px solid rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border-radius: 8px;
  overflow: hidden;

  padding: 10px auto 70px auto;
  display: flex;
  justify-content: center;
}
.swiper {
  margin-bottom: 22px;
} */
