.wrapper {
  background-color: var(--main-bc);
  box-shadow: 0 5px 20px rgba(74, 82, 124, 0.2);

  margin-bottom: 15px;
}

.flexWrapp {
  display: flex;
  justify-content: space-between;
}

.title {
  color: var(--color-title);
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;

  padding-top: 10px;
}

.subtitle {
  color: var(--color-title);
  font-weight: 500;
  font-size: 12px;

  margin-top: 5px;
  padding-bottom: 10px;
}

.burgerIcons {
  font-size: 24px;
  color: var(--color-border);
  transition: color linear 500ms;

  &:hover {
    color: var(--bc-btn-hover);
  }
}
.button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .wrapText {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  .flexChild {
    flex: 1;
  }
}

@media screen and (min-width: 768px) {
  .flexChild {
    margin-left: auto;
  }

  .wrapper {
    margin-bottom: 22px;
  }
  .title {
    color: var(--color-title);
    font-size: 26px;
    padding-top: 12px;

    flex-shrink: 1;
  }

  .subtitle {
    color: var(--color-title);
    font-size: 18.5px;

    margin-top: 8px;
    padding-bottom: 12px;

    flex-shrink: 1;
  }
}
