@import-normalize; /* bring in normalize.css styles */

body {
  position: relative;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-title: rgb(1, 1, 66);
  --text-hover: rgb(13, 13, 255);
  --color-border: rgb(5, 5, 53);
  --color-label: rgb(6, 6, 103);
  --color-input: rgb(7, 7, 139);
  --color-btn: white;
  --bc-btn: rgba(4, 4, 74, 0.873);
  --bc-btn-hover: rgba(11, 11, 162, 0.648);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
  width: 1280px;
  padding: 0 32px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.text-message {
  color: var(--color-input);
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.flex-wrap {
  display: flex;
}

.active {
  border-bottom: 3.5px solid var(--bc-btn-hover);
}

.form-suptext {
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
}

/* swiper>>>>>>>>>>>>>>>>>>>>>>>>>> */

.swiper {
  width: 100%;
  height: 100%;
}

/* .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff; */

/* Center slide text vertically */
/* display: flex;
  justify-content: center;
  align-items: center;
} */

/* .swiper-slide img { */
/* display: block; */
/* width: 100%; */
/* height: 100%; */
/* object-fit: cover; */
/* } */
