.wrapper {
  display: flex;
  gap: 40px;
}

.item {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-title);

  padding: 22px 0;
  transition: color linear 500ms;
  &:hover {
    color: var(--bc-btn-hover);
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    gap: 0px;
  }
  .item {
    margin-top: 15px;
    padding: 0 0 5px 0;
  }
}
